<!-- Brand Section Start -->
        <div class="brand-section section section-padding">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="brand-wrapper">
                  <div class="brand-list">
                    <div
                      class="brand-carousel swiper-container"
                      data-aos="fade-up"
                    >
                      <div class="swiper-wrapper">
                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1709764183/biitech-academy/companies-8-removebg-preview_h12uo5.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1709764181/biitech-academy/companies-2-removebg-preview_nlegsv.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1709764179/biitech-academy/companies-removebg-preview_liboi5.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1709764178/biitech-academy/companies-3-removebg-preview_dvpjb3.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1709764176/biitech-academy/companies-5-removebg-preview_ndgh95.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1709764175/biitech-academy/companies-1-removebg-preview_hzqqf2.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1709764174/biitech-academy/companies-7-removebg-preview_bcypts.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1709764173/biitech-academy/companies-6-removebg-preview_xtfqp3.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1709764173/biitech-academy/companies-4-removebg-preview_emczmf.png"
                              alt="logo image"
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>