<!-- Brand Section End -->
<div class="footer-section section" data-bg-color="#171621">
  <div class="container">
    <!-- Footer Top Widgets Start -->
    <div class="row">
      <!-- Footer Widget Start -->
      <div class="col-xl-6 col-md-5 col-12 max-mb-50">
        <div class="footer-widget light-color">
          <h4 class="footer-widget-title">Address</h4>
          <div class="footer-widget-content">
            <div class="content">
              <p>19739 Executive Park Circle, Germantown, MD 20874</p>
              <p>+1 (240) 855 3069 (9am - 5pm EST, Monday - Friday)</p>
              <p><a href="#">info@biitechacademy.com </a></p>
            </div>
            <div class="footer-social-inline">
              <a href="#"><i class="fab fa-facebook-square"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Widget End -->

      <!-- Footer Widget Start -->
      <div class="col-xl-3 col-md-4 col-sm-7 col-12 max-mb-50">
        <div class="footer-widget light-color">
          <h4 class="footer-widget-title">Explore</h4>
          <div class="footer-widget-content">
            <ul class="column-2">
              <li><a href="{{ url_for('courses') }}">Our Courses</a></li>
              <li><a href="{{ url_for('programs') }}">Our Programs</a></li>
              <li><a href="{{ url_for('about') }}">About Us</a></li>
              <!--<li><a href="{{ url_for('contact') }}">Contact Us</a></li>-->
            </ul>
          </div>
        </div>
      </div>
      <!-- Footer Widget End -->

      <!-- Footer Widget Start -->
      <div class="col-xl-3 col-md-3 col-sm-5 col-12 max-mb-50">
        <div class="footer-widget light-color">
          <h4 class="footer-widget-title">Account</h4>
          <div class="footer-widget-content">
            <ul>
              <li><a href="{{ url_for('add_user') }}">Enroll here</a></li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Footer Widget End -->
    </div>
    <!-- Footer Top Widgets End -->

    <!-- Footer Copyright Start -->
    <div class="row max-mt-20">
      <div class="col">
        <p class="copyright">
          &copy; 2024 BIITECH ACADEMY.
          <a href="https://hasthemes.com/">All Rights Reserved</a>
        </p>
      </div>
    </div>
    <!-- Footer Copyright End -->
  </div>
</div>
