<!-- Brand Section Start -->
        <div class="brand-section section section-padding">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="brand-wrapper">
                  <div class="brand-list">
                    <div
                      class="brand-carousel swiper-container"
                      data-aos="fade-up"
                    >
                      <div class="swiper-wrapper">
                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1715866881/biitech-academy/Azure_Storage_Connection_qpgmgj.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1715866925/biitech-academy/Google_esyykz.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1715866914/biitech-academy/IBM_dx3hi0.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1715866892/biitech-academy/Amazon_Web_Services_ilglfl.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1715866883/biitech-academy/Azure_hv2ho2.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1715866936/biitech-academy/Google_Cloud_wbqozv.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1715866962/biitech-academy/GitHub_vfyehl.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1715866966/biitech-academy/Git_j49nd7.png"
                              alt="logo image"
                            />
                          </a>
                        </div>

                        <div class="swiper-slide brand">
                          <a href="#">
                            <img
                              src="https://res.cloudinary.com/biitech-academy/image/upload/v1715866990/biitech-academy/Firebase_lr0wqc.png"
                              alt="logo image"
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>