{% for message in get_flashed_messages() %}
    <div class="notification-popup">
        <div class="notification-popup-container">
            <div class="notification-content-flex">
                <!--<h2>Notification</h2>-->
                <div class="popup-notification-close">
                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1717434996/biitech-academy/Close_Window_1_lwzsmp.png" alt="Renaissance Website Image">
                </div>
                <p>{{ message }}</p>
            </div>
        </div>
    </div>
{% endfor %}