{% extends 'base.html' %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show popup-notification" role="alert">
  <div class="notification-header">
    <div class="notification-header-img">
      <img
        src="https://res.cloudinary.com/quinn-daisies-platform/image/upload/v1711065684/Quinn_Daisies_Blog/bell_ktw9xf_scrpqe.png"
        alt="Quinn Daisies Blog">
    </div>

    <div type="button" class="btn-close notification-btn-close" data-bs-dismiss="alert" aria-label="Close"></div>
  </div>

  <div class="notification-message">
    <h1>Notification</h1>
    <div class="notification-text">{{ message }}</div>
  </div>
</div>
{% endfor %}

<div class="screen">
	{% include 'dashboard/sidebar.html' %}
	<div class="main-dashboard">
		<form class="update-frame"
			method="POST" type="file"
            name="file" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}

			<div class="form-content-container-text">
				<h3>Admin Panel Course Creation</h3>
				<p>The Admin Panel Course Creation tool. Here, you wield the power to shape the learning experience for your users with precision and finesse. Our intuitive interface empowers you to craft courses that inspire, educate, and transform.</p>

				<h5>Streamlined Course Design</h5>
				<p>Effortlessly design courses that resonate with your audience's needs and aspirations. From defining learning objectives to curating content and setting assessments, every aspect of course creation is seamlessly integrated into our platform.</p>
			</div>

			<div class="form-flex-side-bar">
				<div class="form-input">
					<div class="form-input-grid">
						<div class="form-user-box">
							<input type="text" name="course_title" placeholder="Course title goes here..." required >
						</div>

						<div class="form-user-box">
							<input type="text" name="course_duration" placeholder="Courses duration... i.e 12 months" required>
						</div>

						<div class="form-user-box">
							<input type="text" name="course_lesson" placeholder="Number of lessons... i.e 12 lessons" required>
						</div>

					</div>

					<div class="form-content-container">
						{{ form.course_description(class="form-control", rows="10") }}

						<div class="update-frame-content">
							<div class="profile-user-information">
								<label>Upload a course image</label>
								<div class="form-user-box">
									<span class="material-symbols-outlined">image</span>
									<input type="file" name="course_img" placeholder="Upload a course image" required>
								</div>

								<label>Add a course introductory video</label>
								<div class="form-user-box">
									<span class="material-symbols-outlined">movie</span>
									<input type="type" name="course_video" placeholder="Paste in video URL" required>
								</div>

								<label>Course Price</label>
								<div class="form-user-box">
									<span class="material-symbols-outlined">attach_money</span>
									<input type="type" name="courses_price" placeholder="How much does the course cost..." required>
								</div>
							</div>
						</div>
					</div>

					<div class="form-input-grid">
						<div class="form-user-box">
							<input type="text" name="courses_instructor" placeholder="Type in the instructor's Full Name..." required>
						</div>

						<div class="form-user-box">
							<input type="text" name="courses_url" placeholder="Course online lesson link..." required>
						</div>

						<div class="form-user-box">
							<span class="material-symbols-outlined">schedule</span>
							<input type="time" name="courses_schedule" placeholder="Course time course_schedule... i.e 12:30PM" required>
						</div>
					</div>
				</div>
			</div>

			<button type="submit" name="submit">
				<span>Create Course</span>
				<span class="material-symbols-outlined">chevron_right</span>
			</button>

		</form>
		{{ ckeditor.load() }} {{ ckeditor.config(name='course_description') }}
	</div>
</div>
{% endblock %}