{% extends 'base.html' %}
  {% block content %}
    {% include 'components/navbar.html' %}
    {% include 'components/notification.html' %}

    	<div class="page-spacing-container">
				<div class="user-form-grid">
					<div class="user-form-header">
						<h2>Account Settings</h2>
						<!--<p>Update your name, email address and other personal details. Keeping this information current helps us provide you with the best possible service.</p>-->
					</div>

					<form action="/biitech-academy/update-user-information/{{ name_to_update.id }}" method="POST" enctype="multipart/form-data">
						{{ form.hidden_tag() }}
							<div class="user-form-grid-input">
								<span>Last Name</span>
								<input type="text" name="last_name"
								{% if name_to_update.last_name %}
									value="{{ name_to_update.last_name }}"
								{% else %}
									placeholder="Your last name here..." 
								{% endif %}
								>
							</div>

							<div class="user-form-grid-input">
								<span>First Name</span>
								<input type="text" name="first_name"
								{% if name_to_update.first_name %}
									value="{{ name_to_update.first_name }}"
								{% else %}
									placeholder="Your first name here..." 
								{% endif %}
								>
							</div>

							<div class="user-form-grid-input">
								<span>Middle Name</span>
								<input type="text" name="middle_name"
								{% if name_to_update.middle_name %}
									value="{{ name_to_update.middle_name }}"
								{% else %}
									placeholder="Your middle name here..." 
								{% endif %}
								>
							</div>

							<div class="user-form-grid-input">
								<span>Email</span>
								<input type="text" name="email" value="{{ name_to_update.email }}">
							</div>

								<div class="user-form-grid-input">
									<span>Phone Details</span>
									<input type="tel" name="contact"
										{% if name_to_update.contact %}
											value="{{ name_to_update.contact }}"
										{% else %}
											placeholder="Contact information here i.e +1234567890" 
										{% endif %}
									>
								</div>
								{% if current_user.profile_pic %}
									<div class="user-form-grid-input">
										<span>Profile image already uploaded...</span>
									</div>
								{% else %}
									<div class="user-form-grid-input">
										<span>Upload Profile Image</span>
										<input type="file" name="profile_pic">
									</div>
								{% endif %}

							<div class="user-form-grid-input">
								<span>Facebook URL (Optional)</span>
								<input type="text" name="facebook_account"
								{% if name_to_update.facebook_account %}
									value="{{ name_to_update.facebook_account }}"
								{% else %}
									placeholder="Enter your facebook account URL" 
								{% endif %}
								>
							</div>

							<div class="user-form-grid-input">
								<span>LinkedIn (Optional)</span>
								<input type="text" name="linkedin_account"
								{% if name_to_update.linkedin_account %}
									value="{{ name_to_update.linkedin_account }}"
								{% else %}
									placeholder="Enter your LinkedIn URL" 
								{% endif %}
								>
							</div>

							<button class="black-general-button-container button" type="submit" name="submit">
								<span>UPDATE ACCOUNT DETAILS</span>
								<img class="black-general-button-arrow" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1716568463/Renaissance/Right_Arrow_1_uvdf61.png" alt="Renaissance Website Image">
							</button>
					</form>
					{{ ckeditor.load() }} {{ ckeditor.config(name='content') }}
				</div>
			</div>
{% include 'components/footer.html' %}
  {% endblock %}