{% extends 'base.html' %}
  {% block content %}
    {% include 'components/navbar.html' %}
      <!-- Page Title Section Start -->
      <div
        class="page-title-section section section-padding-top-0"
        data-bg-color="#f5f5f5"
      >
        <div class="page-breadcrumb position-static">
          <div class="container">
            <ul class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li class="current">About us</li>
            </ul>
          </div>
        </div>

        <!-- About Section Start -->
        <div
          class="about-section section"
          data-bg-color="#f5f5f5"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-12 order-lg-1 order-2">
                <div class="about-content mt-sm-50 mt-xs-50">
                  <span class="sub-title"
                    >EXPLORE <strong>THE</strong> POSSIBILITIES</span
                  >
                  <h2 class="title">
                    Commitment to<span> Empowering </span>Tomorrow's Tech Leaders. 
                  </h2>
                  <p>
                    Our mission is to empower individuals with the knowledge, skills, and resources necessary to thrive in the ever-evolving field of Information Technology.
                  </p>
                  <!--<a class="link link-lg" href="course-details-free.html">
                    Have questions?​
                    <mark>Get Free Form <i class="fas fa-arrow-right"></i></mark
                  ></a>-->
                </div>
              </div>

              <div class="col-lg-6 col-md-12 order-lg-1 order-1">
                <div class="about-image">
                  <div class="about-image-one">
                    <img
                      src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716458784/biitech-academy/2_mg4vg0.png"
                      alt="about01"
                    />
                  </div>
                  <!--<div class="about-image-two">
                    <img
                      src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716458784/biitech-academy/2_mg4vg0.png"
                      alt="about02"
                    />
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- About Section End -->
      </div>
      <!-- Page Title Section End -->

      <!-- Faq Section Start -->
      <div
        class="faq-section section section-padding position-relative"
        data-bg-color="#f5f7fa"
      >
        <div class="container">
          <div class="row row-cols-lg-2 row-cols-1 align-items-center">
            <div class="col">
              <div class="faq-left-image">
                <img
                  src="https://res.cloudinary.com/biitech-academy/image/upload/v1708529403/biitech-academy/Programming-amico_i8bqlk.svg"
                  alt="about"
                />
              </div>
            </div>
            <div class="col">
              <div class="faq-content-area">
                <!-- Section Title Start -->
                <div class="section-title text-left mb-50" data-aos="fade-up">
                  <span class="sub-title"
                    >Everything <strong>BIITECH Academy</strong></span
                  >
                  <h2 class="title fz-48">
                    Empowering Success, <span>Shaping Futures:</span> 
                  </h2>
                </div>
                <!-- Section Title End -->

                <div class="mx-accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <a
                          href="#"
                          class="acc-btn border-0"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        >
                          Tailored programs to fit your unique career goals and learning style.
                        </a>
                      </h5>
                    </div>

                    <div
                      id="collapseOne"
                      class="collapse show"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="card-body">
                        Throughout your learning journey, you'll receive personalized guidance and support from our team of experienced instructors and advisors. We'll be there every step of the way to provide mentorship, answer questions, and help you overcome any challenges you may encounter
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <a
                          href="#"
                          class="acc-btn border-0 collapsed"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Learn from industry professionals dedicated to your success.
                        </a>
                      </h5>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="card-body">
                        Our instructors serve as mentors and guides, providing personalized support and guidance to help you navigate your learning journey. Whether you're tackling a challenging concept, exploring a new technology, or preparing for a certification exam, our team is here to support you every step of the way.
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <a
                          href="#"
                          class="acc-btn border-0 collapsed"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Gain the knowledge and tools to excel 
                        </a>
                      </h5>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="card-body">
                        We believe in hands-on learning experiences that allow you to apply your knowledge in real-world scenarios. Through projects, labs, and simulations, you'll have the opportunity to practice your skills and gain valuable experience that you can apply directly to your future career.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Section Bottom Shape Start -->
        <div class="section-bottom-shape d-md-block d-none">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 100 100"
            preserveAspectRatio="none"
            height="100"
          >
            <path
              class="elementor-shape-fill"
              d="M 0 0 L0 100 L100 100 L100 0 Q 50 200 0 0"
            ></path>
          </svg>
        </div>
        <!-- Section Bottom Shape End -->
      </div>
      <!-- Faq Section End -->

      <!-- Brand Section Start -->
      <!--{% include 'components/banner.html' %}-->
      <!-- Brand Section End -->

      <!-- Potentials Section Start -->
      <div
        class="potentials-section section section-padding"
        data-bg-color="#f5f7fa"
      >
        <div class="container">
          <!-- Section Title Start -->
          <div
            class="section-title text-center margin-bottom-100"
            data-aos="fade-up"
          >
            <span class="sub-title">Maximize your potentials</span>
            <h2 class="title fz-48">Things We <span>Can Help</span> You.</h2>
          </div>
          <!-- Section Title End -->
          <div class="row row-cols-lg-2 row-cols-1 align-items-center">
            <div class="col">
              <!-- Feature Wrapper Start -->
              <div class="row row-cols-xl-2 row-cols-sm-2 row-cols-1">
                <!-- Feature Start (Icon Box) -->
                <div class="col max-mb-60" data-aos="fade-up">
                  <a
                    href="#"
                    class="icon-box icon-box-left text-left"
                    data-vivus-hover
                  >
                    <div class="icon">
                      <img
                        class="svgInject"
                        src="static/images/svg/linea/linea-basic-flag2.svg"
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <h3 class="title fz-20">Career Guidance</h3>
                      <div class="desc">
                        <p>
                          Explore personalized career guidance from our team of experts who are dedicated to helping you navigate your professional journey.
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Feature Start (Icon Box) -->

                <!-- Feature Start (Icon Box) -->
                <div class="col max-mb-60" data-aos="fade-up">
                  <a
                    href="#"
                    class="icon-box icon-box-left text-left"
                    data-vivus-hover
                  >
                    <div class="icon">
                      <img
                        class="svgInject"
                        src="static/images/svg/linea/linea-basic-gear.svg"
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <h3 class="title fz-20">Networking Opportunities</h3>
                      <div class="desc">
                        <p>
                          Connect with industry professionals, alumni, and fellow students through our networking events, workshops, and online communities.
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Feature Start (Icon Box) -->

                <!-- Feature Start (Icon Box) -->
                <div class="col max-mb-60" data-aos="fade-up">
                  <a
                    href="#"
                    class="icon-box icon-box-left text-left"
                    data-vivus-hover
                  >
                    <div class="icon">
                      <img
                        class="svgInject"
                        src="static/images/svg/linea/linea-basic-life-buoy.svg"
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <h3 class="title fz-20">Job Search Support</h3>
                      <div class="desc">
                        <p>
                          Access job postings, internship opportunities, and apprenticeship programs tailored to your interests and career goals.
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Feature Start (Icon Box) -->

                <!-- Feature Start (Icon Box) -->
                <div class="col max-mb-60" data-aos="fade-up">
                  <a
                    href="#"
                    class="icon-box icon-box-left text-left"
                    data-vivus-hover
                  >
                    <div class="icon">
                      <img
                        class="svgInject"
                        src="static/images/svg/linea/linea-basic-display.svg"
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <h3 class="title fz-20">Professional Development</h3>
                      <div class="desc">
                        <p>
                          Continue to grow and develop your skills with our ongoing professional development opportunities.
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Feature Start (Icon Box) -->
              </div>
              <!-- Feature Wrapper End -->
            </div>
            <div class="col">
              <div class="potentials-image">
                <img
                  src="https://res.cloudinary.com/biitech-academy/image/upload/v1715200062/biitech-academy/8899760_zclfnd.jpg"
                  alt="about"
                />
              </div>
            </div>
          </div>
        </div>
      <!-- Potentials Section End -->
      {% include 'components/footer.html' %}
  {% endblock %}