{% extends 'base.html' %}
  {% block content %}
    {% include 'components/navbar.html' %}
      
      <!-- Page Banner Slider Start -->
        <div class="page-banner-slider section">
            <div class="banner-slider swiper-container">

                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <!--Banner Slider Item start-->
                        <div class="banner-slider-item" data-bg-image="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716901459/biitech-academy/2150917248_waoyma.jpg">
                            <div class="container">
                                <div class="row row-25 banner-content-area">
                                    <div class="col-lg-4">
                                        <div class="banner-slider-content-2 right">
                                            <h1>CAREER SERVICES WITH<br>WITH BIITECH <br>ACADEMY </h1>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">

                                        <!--Banner Slider Content start-->
                                        <div class="banner-slider-content-2 left">
                                            <h3>
                                                <span class="number">01</span>
                                                <span class="line"></span>
                                                Career Counseling
                                            </h3>
                                            <p>Our comprehensive career services are designed to equip you with the skills, resources, and support necessary to excel.</p>
                                        </div>
                                        <!--Banner Slider Content end-->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Banner Slider Item end-->
                    </div>
                </div>

                <div class="banner-slider-prev swiper-button-prev banner-slider-nav"><i class="fas fa-angle-left"></i></div>
                <div class="banner-slider-next swiper-button-next banner-slider-nav"><i class="fas fa-angle-right"></i></div>

            </div>
        </div>
        <!-- Page Banner Slider End -->

        <!-- Success Section Start  -->
        <div class="success-section section section-padding">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section-title text-center" data-aos="fade-up">
                    <span class="sub-title secondary-color">What We Recommend For You</span>
                    <h2 class="title heading-color">Standout from the rest with<br> BIITECH ACADEMY</h2>
                </div>
                <!-- Section Title End -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="mx-timeline">
                            <ul class="mx-timeline-list mx-animation-queue">
                                <li class="line"></li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title">Counseling</h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716899419/biitech-academy/3057_nqrk3v.jpg" alt="timeline-image-01" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#1 Career Counseling</h4>

                                                        <p>Our experienced career counselors are here to guide you through the diverse opportunities available in the IT industry. By conducting one-on-one counseling sessions, we will help you explore your interests, assess your skills, and align them with the ever-changing demands of the IT job market. Together, we will create a personalized career plan that sets you on a path to success.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title"> Resume and Cover </h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716899656/biitech-academy/labor-day-card-mock-up-design-with-stationery_23-2150240574_xmro09.jpg" alt="timeline-image-02" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#2 Resume and Cover Letter Assistance</h4>

                                                        <p>Crafting a compelling resume and cover letter is essential to capturing the attention of IT employers. Our career services team will provide expert guidance and feedback to help you create impactful documents that highlight your technical skills, project experience, and achievements. We will ensure your application materials effectively communicate your qualifications and make you stand out in a competitive field.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title"> Job and Internship </h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716899826/biitech-academy/classmates-writing-learning-study-session_23-2149265737_tlqafu.jpg" alt="timeline-image-03" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#3 Job and Internship Search Support</h4>

                                                        <p>Finding the right job or internship opportunity in the IT industry can be challenging. Our career services team is dedicated to simplifying the process for you. We will provide access to job boards, industry connections, and exclusive opportunities to help you identify and pursue internships, entry-level positions, and advanced career opportunities in IT. We will provide you with strategies and resources to navigate the job market and secure meaningful positions.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title"> Interview </h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716899986/biitech-academy/man-introducing-himself-employers-office-job-interview_23-2149034559_gpgvup.jpg" alt="timeline-image-04" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#4 Interview Preparation</h4>

                                                        <p>Preparing for IT interviews requires a unique set of skills. Our team will offer comprehensive interview preparation, including mock interviews, personalized feedback, and coaching sessions. We will help you develop effective strategies to showcase your technical expertise, problem-solving abilities, and communication skills. Our goal is to boost your confidence and ensure that you excel in IT interviews.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title"> Networking Events </h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716900966/biitech-academy/people-taking-part-business-event_23-2149346653_xqisa8.jpg" alt="timeline-image-02" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#5 Networking Events and Alumni Connections</h4>

                                                        <p>Networking is a valuable tool in the IT industry. Through our networking events, industry panels, and alumni connections, you will have the opportunity to connect with IT professionals, gain insights into industry trends, and expand your professional network. These connections can open doors to mentorship opportunities, collaborations, and even potential job prospects.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title"> Skill Development </h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716900865/biitech-academy/top-view-skills-written-note-with-pen-notepad-white-background-job-office-school-copybook-salary-college-business-color_179666-18277_oxarbu.jpg" alt="timeline-image-03" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#6 Skill Development Workshops</h4>

                                                        <p>The IT industry demands continuous skill development. We offer a range of skill development workshops that cover emerging technologies, programming languages, cybersecurity, data analytics, cloud computing, and more. These workshops are designed to enhance your technical proficiency and keep you up to date with the latest advancements in the IT field.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title"> Career and Recruitment </h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716900863/biitech-academy/woman-sitting-front-group-people-suitable-business-education-concepts_153912-141162_onzxhc.jpg" alt="timeline-image-04" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#7 Career Fairs and Recruitment Events</h4>

                                                        <p>Our career fairs and recruitment events bring together top IT employers and organizations. These events provide you with a platform to showcase your skills, network with industry professionals, and explore a wide range of IT job opportunities. By participating in these events, you can gain valuable insights, make meaningful connections, and potentially secure internships or full-time positions.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title"> Professional Development </h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716900864/biitech-academy/medium-shot-woman-working-office_23-2149908203_qvfw5q.jpg" alt="timeline-image-02" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#8 Professional Development Resources</h4>

                                                        <p>Access our extensive collection of professional development resources, including online databases, industry publications, and specialized IT courses. These resources will allow you to stay updated on the latest trends, expand your knowledge base, and acquire new skills in IT. We are committed to providing you with the tools you need to continually develop and advance your IT career.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Success Section End  -->
    {% include 'components/footer.html' %}
  {% endblock %}