{% extends 'base.html' %}
  {% block content %}
    {% include 'components/navbar.html' %}

      <!-- About Section Start -->
      <div
        class="about-section section section-padding-bottom"
        data-bg-color="#f5f5f5"
      >
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-lg-1 order-2">
              <div class="about-content mt-sm-50 mt-xs-50">
                <span class="sub-title"
                  >Get to know about <strong>BIITECH Academy</strong></span
                >
                <h2 class="title">
                  Programs designed to empower individuals. 
                </h2>
                <p>
                  Our programs are tailored to meet your unique needs. Explore our offerings below and embark on a transformative journey in technology.
                </p>
                <!--<a class="link link-lg" href="course-details-free.html">
                  Have questions?​
                  <mark>Get Free Form <i class="fas fa-arrow-right"></i></mark
                ></a>-->
              </div>
            </div>

            <div class="col-lg-6 col-md-12 order-lg-1 order-1">
              <div class="about-image">
                <div class="about-image-one">
                  <img
                    src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716549253/biitech-academy/pexels-divinetechygirl-1181271_ravam1.jpg"
                    alt="about01"
                  />
                </div>
                <!--<div class="about-image-two">
                  <img
                    src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716458784/biitech-academy/2_mg4vg0.png"
                    alt="about02"
                  />
                </div>-->

                <!-- Animation Shape Start -->
                <div class="shape shape-1 scene">
                  <span data-depth="4">shape 1</span>
                </div>
                <div class="shape shape-2 scene">
                  <span data-depth="4"
                    ><img
                      src="static/images/shape-animation/about-shape-1.png"
                      alt=""
                  /></span>
                </div>
                <div class="shape shape-3 scene">
                  <span data-depth="4"
                    ><img
                      src="static/images/shape-animation/nwesletter-shape-2.png"
                      alt=""
                  /></span>
                </div>
                <div class="shape shape-4 scene">
                  <span data-depth="4"
                    ><img
                      src="static/images/shape-animation/shape-1.png"
                      alt=""
                  /></span>
                </div>
                <!-- Animation Shape End -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- About Section End -->

      <!-- Success Section Start  -->
        <div class="success-section section section-padding">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section-title text-center" data-aos="fade-up">
                    <span class="sub-title secondary-color">What We Recommend For You</span>
                    <h2 class="title heading-color">Our Professional Programs at <br> <span class="title">BIITECH ACADEMY</span></h2>
                </div>
                <!-- Section Title End -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="mx-timeline">
                            <ul class="mx-timeline-list mx-animation-queue">
                                <li class="line"></li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title">TechXplore</h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716902528/biitech-academy/businessman-wearing-virtual-reality-glasses_74855-1110_kba6z0.jpg" alt="timeline-image-01" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#1 TechXplore: Coding Bootcamp for K-12 Students</h4>

                                                        <p>TechXplore is an immersive and engaging coding bootcamp specifically designed for K-12 students. Through a carefully crafted curriculum, students dive into the world of coding, learning programming languages, software development methodologies, and problem-solving techniques. TechXplore fosters critical thinking, creativity, collaboration, and essential 21st-century competencies, equipping students with skills applicable to various career pathways.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title"> Apprenticeship </h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716899826/biitech-academy/classmates-writing-learning-study-session_23-2149265737_tlqafu.jpg" alt="timeline-image-02" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#2 Youth Apprenticeship Program</h4>

                                                        <p>Our Youth Apprenticeship Program is designed to provide young individuals with a transformative experience in the technology field. Through a combination of classroom learning and practical work experience, participants gain hands-on exposure to various aspects of the IT industry. This program aims to ignite a passion for technology, equip participants with essential skills, and introduce them to diverse career paths in the field.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title"> Digital Literacy </h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716902530/biitech-academy/young-man-woman-sitting-cafe_273609-15537_pucens.jpg" alt="timeline-image-03" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#3 Digital Literacy Bootcamp</h4>

                                                        <p>In today's digital era, digital literacy is essential. Our Digital Literacy Bootcamp equips individuals with the knowledge and skills to navigate the digital landscape confidently. Participants learn about internet safety, online communication, effective information search, and basic computer skills. This program empowers individuals from diverse backgrounds to enhance their digital literacy and harness the power of technology effectively.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title"> Cyber Literacy </h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716902757/biitech-academy/front-view-thoughtful-woman-working-with-laptop-library_74855-4266_mn6di5.jpg" alt="timeline-image-04" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#4 Cyber Literacy Program</h4>

                                                        <p>In an increasingly interconnected world, cyber literacy is paramount. Our Cyber Literacy Program provides participants with the knowledge and skills to protect themselves and organizations from cyber threats. Participants learn about data privacy, online security, recognizing and preventing cyber attacks, and best practices for safeguarding digital assets. This program empowers individuals to navigate the digital landscape securely and contribute to a safer online environment.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="title-wrap">
                                                    <h5 class="title"> Professional Development </h5>
                                                </div>

                                                <div class="timeline-image">
                                                    <img src="https://res.cloudinary.com/biitech-academy-content/image/upload/v1716902905/company-employee-presenting-business-strategy-with-charts-monitor-planning-project-workmates-analyzing-financial-statistics-display-working-together-company-development_482257-37174_bentw6.jpg" alt="timeline-image-02" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="timeline-content-wrap">
                                                    <div class="timeline-content-body">
                                                        <h4 class="title">#5 Professional Development Workshops</h4>

                                                        <p>Our Professional Development Workshops cater to professionals seeking to enhance their skills or explore new areas in technology. We offer a diverse range of workshops covering emerging technologies, programming languages, cybersecurity, data analytics, cloud computing, and more. These workshops provide participants with the opportunity to stay up-to-date with the latest advancements in technology and gain practical, applicable skills.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Success Section End  -->

    {% include 'components/footer.html' %}
  {% endblock %}